html,
body,
#app{
    height: 100%;
    margin: 0;
}

#app{
    display: flex;

    /* quebra de linha */
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    /* faz o trabalho do align-items quando o flexdirection e row */
    /* align-content: flex-start; */
}

.box{
    width: 400px;
    height: 60px;
    margin: 5px;

/* ------------- Redimensionamento ------------- */
    /* flex: 1 0; */

    /* grow | shrink */
    /* flex: 1 0; */


    /* estica */
    /* flex-grow: 1; */

    /* espremer */
    /* flex-shrink: 0; */
}

.red{
    background: red;
    order: 2;
}

.green{
    background: green;
    order: 0;
}

.blue{
    background: blue;
    order: 1;
}